<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<nav><%= link_to "Home",  '/home' %> | <%= link_to "About Us",  '/about' %> | <%= link_to "Help",  '/help' %></nav>
<p>
	Contact me at my personal email address!
</p>