<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<nav><%= link_to "Home",  '/static_pages/home' %> | <%= link_to "About Us",  '/static_pages/about' %> | <%= link_to "Help",  '/static_pages/help' %></nav>
<p>
	Contact me at my personal email address!
</p>