<% provide(:title, 'Help') %>
<h1>Help</h1>
<nav><%= link_to "Home",  '/static_pages/home' %> | <%= link_to "About Us",  '/static_pages/about' %> | <%= link_to "Contact Us",  '/static_pages/contact' %></nav>
<p>
	Get help on Ruby on Rails Tutorial at the <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
	To get help on this sample app, see the <a href="http://railstutorial/book">Rails Tutorial book</a>.
</p>