<h1>Sample App</h1>
<nav><%= link_to "About Us",  '/about' %> | <%= link_to "Contact Us",  '/contact' %> | <%= link_to "Help",  '/help' %></nav>
<p>
	This is the home page for the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
</p>