<h1>Sample App</h1>
<nav><%= link_to "Index", "/static_pages/index" %> | <%= link_to "About Us",  '/static_pages/about' %> | <%= link_to "Contact Us",  '/static_pages/contact' %> | <%= link_to "Help",  '/static_pages/help' %></nav>
<p>
	This is the home page for the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
</p>