<h1>Index Page</h1>
<p> ^^^ This is where I would put DreamsLinked</p>
<nav><%= link_to "Home",  '/static_pages/home' %> | <%= link_to "About Us",  '/static_pages/about' %> | <%= link_to "Contact Us",  '/static_pages/contact' %> | <%= link_to "Help",  '/static_pages/help' %></nav>
<p>You may access the rest of the site by clicking here on these buttons!</p>