<h1>Index Page</h1>
<p>You may access the rest of the site by clicking here on these buttons!</p>
<nav><%= link_to "Home", visit '/static_pages/home' %> | <%= link_to "About Us", visit '/static_pages/about' %> | <%= link_to "Contact Us", visit '/static_pages/contact' %> | <%= link_to "Help", visit '/static_pages/help' %></nav>